@model FinTech.Models.UserModel

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投標廠商功能頁</title>
    <style id="applicationStylesheet" type="text/css">
        .mediaViewInfo {
            --web-view-name: 投標廠商功能頁;
            --web-view-id:;
            --web-application: true;
            --web-enable-deep-linking: true;
        }

        :root {
            --web-view-ids:;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }

        # {
            position: absolute;
            width: 1366px;
            height: 824px;
            background-color: rgba(255, 255, 255, 1);
            overflow: hidden;
            --web-view-name: 投標廠商功能頁;
            --web-view-id:;
            --web-application: true;
            --web-enable-deep-linking: true;
        }

        #Rectangle_43 {
            opacity: 0.38;
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_43 {
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1384px;
            height: 118px;
            left: 0px;
            top: 0px;
        }

        #Fintech {
            left: 141px;
            top: 27px;
            position: absolute;
            overflow: visible;
            width: 150px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            color: rgba(17, 198, 198, 1);
        }

        #Rectangle_44 {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_44 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 150px;
            left: 0px;
            top: 100px;
        }

        #Rectangle_60 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_60 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1009px;
            height: 496px;
            left: 188px;
            top: 165px;
        }

        #Rectangle_57 {
            fill: rgba(51, 61, 61, 1);
        }

        .Rectangle_57 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 128px;
            left: 0px;
            top: 697px;
        }

        #_Copyright_2020 {
            left: 537px;
            top: 781px;
            position: absolute;
            overflow: visible;
            width: 293px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        #Line_1 {
            fill: transparent;
            stroke: rgba(255, 255, 255, 1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Line_1 {
            overflow: visible;
            position: absolute;
            width: 1086px;
            height: 1px;
            left: 140.5px;
            top: 752.5px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #Rectangle_47 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_47 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 308px;
            height: 93px;
            left: 723px;
            top: 273px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: view;
            --web-action-target:;
            cursor: pointer;
        }

        #_bb {
            left: 820px;
            top: 292px;
            position: absolute;
            overflow: visible;
            width: 113px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Rectangle_47_bc {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_47_bc {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 308px;
            height: 93px;
            left: 318px;
            top: 476px;
        }

        #Rectangle_72 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_72 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 308px;
            height: 93px;
            left: 731px;
            top: 476px;
        }

        #_be {
            left: 407px;
            top: 495px;
            position: absolute;
            overflow: visible;
            width: 113px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #_bf {
            left: 820px;
            top: 495px;
            position: absolute;
            overflow: visible;
            width: 113px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #___ {
            left: 920px;
            top: 32px;
            position: absolute;
            overflow: visible;
            width: 240px;
            white-space: nowrap;
            text-align: right;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
            display: inline-block;
        }

        #Rectangle_129 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_129 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 308px;
            height: 93px;
            left: 318px;
            top: 273px;
        }

        #_bi {
            left: 407px;
            top: 292px;
            position: absolute;
            overflow: visible;
            width: 113px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #_ccc {
            left: 141px;
            top: 120px;
            position: absolute;
            overflow: visible;
            width: 73px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        .dropdown-content {
            cursor: pointer;
            padding: 4px 4px;
            margin-left: 8px;
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.90);
            width: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 9999;
        }

        .dropdown-content a {
            color: black;
            text-decoration: none;
            display: block;
            letter-spacing: 0.3px;
            font-style: normal;
            font-family: Arial;
            font-size: 20px;
        }

            .dropdown-content a:hover {
                background-color: rgba(200, 200, 200, 0.90);
            }

        #___:hover .dropdown-content {
            display: block;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

    </script>
</head>

<body>
    <div id="">
        <svg class="Rectangle_43">
            <rect id="Rectangle_43" rx="0" ry="0" x="0" y="0" width="1366" height="100">
            </rect>
        </svg>
        <div id="Fintech">
            <a asp-controller="Home" asp-action="Homepage" style="text-decoration:none;color:inherit"><span>Fintech</span></a>
        </div>
        <svg class="Rectangle_44">
            <rect id="Rectangle_44" rx="0" ry="0" x="0" y="0" width="1366" height="150">
            </rect>
        </svg>
        <svg class="Rectangle_60">
            <rect id="Rectangle_60" rx="0" ry="0" x="0" y="0" width="991" height="478">
            </rect>
        </svg>
        <svg class="Rectangle_57">
            <rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" width="1366" height="128">
            </rect>
        </svg>
        <div id="_Copyright_2020">
            <span>數位標金平台團隊 Copyright ©2020</span>
        </div>
        <svg class="Line_1" viewBox="0 0 1086 1">
            <path id="Line_1" d="M 0 0 L 1086 0">
            </path>
        </svg>
        <svg class="Rectangle_47">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_47" rx="37.5" ry="37.5" x="0" y="0"
                  width="290" height="75">
            </rect>
        </svg>
        <div id="_bb">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("憑證設定", "Home")'" value="憑證設定">
            </span>
        </div>
        <svg class="Rectangle_47_bc">
            <rect id="Rectangle_47_bc" rx="37.5" ry="37.5" x="0" y="0" width="290" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_72">
            <rect id="Rectangle_72" rx="37.5" ry="37.5" x="0" y="0" width="290" height="75">
            </rect>
        </svg>
        <div id="_be">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("帳戶設定", "Home")'" value="帳戶設定">
            </span>
        </div>
        <div id="_bf">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("廠商專案管理", "Home")'" value="專案管理">
            </span>
        </div>
        <div id="___">
            <span>
                <input type="button" class="dropbtn" value="@Model.UserID" style="outline-style:none; text-align:left; font-size:28px; background-color:transparent; font-weight:bold;" />
                | <input type="button" style="font-size:28px; background-color:transparent; font-weight: bold;"
                         onclick="location.href='@Url.Action("UserLogout", "Home")'" value="登出">
            </span>
            <div class="dropdown-content">
                <a onclick="location.href='@Url.Action("投標廠商功能", "Home")'">投標廠商功能表</a>
                <a onclick="location.href='@Url.Action("招標機關功能", "Home")'">招標機關功能表</a>
            </div>
        </div>

        <svg class="Rectangle_129">
            <rect id="Rectangle_129" rx="37.5" ry="37.5" x="0" y="0" width="290" height="75">
            </rect>
        </svg>
        <div id="_bi">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("帳戶申請", "Home")'" value="帳戶申請">
            </span>
        </div>
        <div id="_ccc">
            <span>首頁 / 投標廠商功能</span>
        </div>
    </div>
</body>

</html>
