@model FinTech.Models.UserModel

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>招標機關專案管理</title>
    <style id="applicationStylesheet" type="text/css">
        .mediaViewInfo {
            --web-view-name: 招標機關專案管理;
            --web-view-id:;
            --web-application: true;
            --web-enable-deep-linking: true;
        }

        :root {
            --web-view-ids:;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }

        # {
            position: absolute;
            width: 1366px;
            height: 1117px;
            background-color: rgba(255, 255, 255, 1);
            overflow: hidden;
            --web-view-name: 招標機關專案管理;
            --web-view-id:;
            --web-application: true;
            --web-enable-deep-linking: true;
        }

        #Fintech {
            left: 141px;
            top: 27px;
            position: absolute;
            overflow: visible;
            width: 150px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            color: rgba(17, 198, 198, 1);
        }

        #Rectangle_44 {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_44 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 150px;
            left: 0px;
            top: 100px;
        }

        #Rectangle_45 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_45 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 213px;
            height: 316px;
            left: 110px;
            top: 164px;
        }

        #Rectangle_60 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_60 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 928px;
            height: 822px;
            left: 380px;
            top: 164px;
        }

        #_ {
            left: 110px;
            top: 131px;
            position: absolute;
            overflow: visible;
            width: 73px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        #_ba {
            left: 160px;
            top: 235px;
            position: absolute;
            overflow: visible;
            width: 73px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
        }

        #Rectangle_62 {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_62 {
            position: absolute;
            overflow: visible;
            width: 5px;
            height: 55px;
            left: 141px;
            top: 338px;
        }

        #Rectangle_65 {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_65 {
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 418px;
            height: 93px;
            left: 683px;
            top: 869px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: view;
            --web-action-target:;
            cursor: pointer;
        }



        #Rectangle_57 {
            fill: rgba(51, 61, 61, 1);
        }

        .Rectangle_57 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 128px;
            left: 0px;
            top: 989px;
        }

        #_Copyright_2020 {
            left: 537px;
            top: 1073px;
            position: absolute;
            overflow: visible;
            width: 293px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        #Line_1 {
            fill: transparent;
            stroke: rgba(255, 255, 255, 1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Line_1 {
            overflow: visible;
            position: absolute;
            width: 1086px;
            height: 1px;
            left: 140.5px;
            top: 1044.5px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #_bf {
            left: 846px;
            top: 883px;
            position: absolute;
            overflow: visible;
            width: 75px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #___ {
            left: 920px;
            top: 32px;
            position: absolute;
            overflow: visible;
            width: 240px;
            height: 37px;
            text-align: right;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(112, 112, 112, 1);
            letter-spacing: 0.3px;
            display: inline-block;
        }

        .dropdown-content {
            cursor: pointer;
            padding: 4px 4px;
            margin-left: 8px;
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.90);
            width: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 9999;
        }

            .dropdown-content a {
                color: black;
                text-decoration: none;
                display: block;
                letter-spacing: 0.3px;
                font-style: normal;
                font-family: Arial;
                font-size: 20px;
            }

                .dropdown-content a:hover {
                    background-color: rgba(200, 200, 200, 0.90);
                }

        #___:hover .dropdown-content {
            display: block;
        }

        #_bh {
            left: 160px;
            top: 294px;
            position: absolute;
            overflow: visible;
            width: 73px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
        }

        #_bi {
            left: 160px;
            top: 353px;
            position: absolute;
            overflow: visible;
            width: 73px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(17, 198, 198, 1);
        }

        #______ {
            opacity: 0.49;
            left: 439px;
            top: 211px;
            position: absolute;
            overflow: visible;
            width: 205px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #_bk {
            left: 1268px;
            top: 83px;
            position: absolute;
            overflow: visible;
            width: 1px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            color: rgba(17, 198, 198, 1);
            letter-spacing: 0.3px;
        }

        #_bl {
            left: 467px;
            top: 314px;
            position: absolute;
            overflow: visible;
            width: 38px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_98 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_98 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 158px;
            height: 93px;
            left: 416px;
            top: 363px;
        }

        #Rectangle_103 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_103 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 158px;
            height: 93px;
            left: 415px;
            top: 513px;
        }

        #Rectangle_104 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_104 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 158px;
            height: 93px;
            left: 415px;
            top: 661px;
        }

        #_bp {
            left: 1012px;
            top: 319px;
            position: absolute;
            overflow: visible;
            width: 75px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_117 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_117 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 606px;
            top: 363px;
        }

        #Rectangle_118 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_118 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 606px;
            top: 513px;
        }

        #Rectangle_119 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_119 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 606px;
            top: 668px;
        }

        #_bt {
            left: 646px;
            top: 314px;
            position: absolute;
            overflow: visible;
            width: 75px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_120 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_120 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 798px;
            top: 363px;
        }

        #Rectangle_121 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_121 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 799px;
            top: 513px;
        }

        #Rectangle_122 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_122 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 160px;
            height: 93px;
            left: 798px;
            top: 661px;
        }

        #_bx {
            left: 852px;
            top: 319px;
            position: absolute;
            overflow: visible;
            width: 38px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_150 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_150 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 72px;
            height: 71px;
            left: 1201px;
            top: 367px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: view;
            --web-action-target:;
            cursor: pointer;
        }

        #Rectangle_152 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_152 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 72px;
            height: 71px;
            left: 1202px;
            top: 521px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: view;
            --web-action-target:;
            cursor: pointer;
        }

        #Rectangle_153 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_153 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 72px;
            height: 71px;
            left: 1202px;
            top: 671px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: view;
            --web-action-target:;
            cursor: pointer;
        }

        #_b {
            left: 1218px;
            top: 372px;
            position: absolute;
            overflow: visible;
            width: 24px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            color: rgba(17, 198, 198, 1);
            letter-spacing: 0.3px;
        }

        #_ca {
            left: 1217px;
            top: 526px;
            position: absolute;
            overflow: visible;
            width: 24px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            color: rgba(17, 198, 198, 1);
            letter-spacing: 0.3px;
        }

        #_cb {
            left: 1218px;
            top: 675px;
            position: absolute;
            overflow: visible;
            width: 24px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            color: rgba(17, 198, 198, 1);
            letter-spacing: 0.3px;
        }

        #_cc {
            left: 1209px;
            top: 319px;
            position: absolute;
            overflow: visible;
            width: 38px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_155 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_155 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 124px;
            height: 71px;
            left: 996px;
            top: 374px;
        }

        #_cd {
            left: 1010px;
            top: 389px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__da {
            left: 420px;
            top: 389px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__db {
            left: 420px;
            top: 536px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__dc {
            left: 420px;
            top: 687px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__dd {
            left: 610px;
            top: 389px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__de {
            left: 610px;
            top: 536px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__df {
            left: 610px;
            top: 687px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__dg {
            left: 805px;
            top: 389px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__dh {
            left: 805px;
            top: 536px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #__di {
            left: 805px;
            top: 687px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }


        #Rectangle_156 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_156 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 124px;
            height: 71px;
            left: 992px;
            top: 522px;
        }

        #Rectangle_157 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_157 {
            mix-blend-mode: multiply;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 124px;
            height: 71px;
            left: 996px;
            top: 672px;
        }

        #_ce {
            left: 1010px;
            top: 536px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }

        #_cf {
            left: 1010px;
            top: 687px;
            position: absolute;
            overflow: visible;
            width: 80px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(23, 3, 3, 1);
            letter-spacing: 0.3px;
        }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var user;

        $(document).ready(function () {
            $.get("@Url.Action("getUser", "Home")", null, function (data) {
                user = data;
                //alert(user);

                $.post("@Url.Action("GetCaseInfo", "Fintech")", { uid: user, utype: "招標"}, function (data) {
                    //alert(data);

                    // [caseid, who, receipt, stat, amount]
                    $("#case1").val(data[0]);
                    $("#case2").val(data[5]);
                    $("#case3").val(data[10]);

                    $("#rec1").val(data[2]);
                    $("#rec2").val(data[7]);
                    $("#rec3").val(data[12]);

                    $("#amo1").val(data[4]);
                    $("#amo2").val(data[9]);
                    $("#amo3").val(data[14]);
                });
            });

            $("#changeStatus1").change(function () {
                var b1 = $("#case1").val();
                if (b1 == "") { $("#changeStatus1").val("");return; }
                $("#myconfirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "確定": function () {
                            var a1 = $("#changeStatus1").val();

                            // Execute
                            $.post("@Url.Action("DisableCase", "Fintech")", { caseid: b1, reason: a1 }, function (data) {
                                if (data == 1) {
                                    alert("完成");
                                    location.reload(true);
                                } else {
                                    alert("Error");
                                }
                            });

                            $(this).dialog("close");
                            $("#changeStatus1").val("");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                            $("#changeStatus1").val("");
                        }
                    }
                });
                var a1 = $("#changeStatus1").val();
                $("#myconfirmtext").text(a1 + "案號:" + b1);
            });

            $("#changeStatus2").change(function () {
                var b1 = $("#case2").val();
                if (b1 == "") { $("#changeStatus2").val("");return; }
                $("#myconfirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "確定": function () {
                            var a1 = $("#changeStatus2").val();

                            // Execute
                            $.post("@Url.Action("DisableCase", "Fintech")", { caseid: b1, reason: a1 }, function (data) {
                                if (data == 1) {
                                    alert("完成");
                                    location.reload(true);
                                } else {
                                    alert("Error");
                                }
                            });

                            $(this).dialog("close");
                            $("#changeStatus2").val("");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                            $("#changeStatus2").val("");
                        }
                    }
                });
                var a1 = $("#changeStatus2").val();
                $("#myconfirmtext").text(a1 + "案號:" + b1);
            });

            $("#changeStatus3").change(function () {
                var b1 = $("#case3").val();
                if (b1 == "") { $("#changeStatus3").val("");return; }
                $("#myconfirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "確定": function () {
                            var a1 = $("#changeStatus3").val();

                            // Execute
                            $.post("@Url.Action("DisableCase", "Fintech")", { caseid: b1, reason: a1 }, function (data) {
                                if (data == 1) {
                                    alert("完成");
                                    location.reload(true);
                                } else {
                                    alert("Error");
                                }
                            });

                            $(this).dialog("close");
                            $("#changeStatus3").val("");
                        },
                        "取消": function () {
                            $(this).dialog("close");
                            $("#changeStatus3").val("");
                        }
                    }
                });
                var a1 = $("#changeStatus3").val();
                $("#myconfirmtext").text(a1 + "案號:" + b1);
            });
        });
    </script>

</head>

<body>
    <div id="myconfirm" title="確定執行此操作?">
        <span id="myconfirmtext"></span>
    </div>

    <div id="">
        <div id="Fintech">
            <a asp-controller="Home" asp-action="Homepage" style="text-decoration:none;color:inherit"><span>Fintech</span></a>
        </div>
        <svg class="Rectangle_44">
            <rect id="Rectangle_44" rx="0" ry="0" x="0" y="0" width="1366" height="150">
            </rect>
        </svg>
        <svg class="Rectangle_45">
            <rect id="Rectangle_45" rx="0" ry="0" x="0" y="0" width="195" height="298">
            </rect>
        </svg>
        <svg class="Rectangle_60">
            <rect id="Rectangle_60" rx="0" ry="0" x="0" y="0" width="910" height="804">
            </rect>
        </svg>
        <div id="_">
            <span>
                首頁 / <input type="button" style="cursor:pointer; font-size:18px;background-color:transparent;font-weight: bold;color: white;"
                            onclick="location.href='@Url.Action("招標機關功能", "Home")'" value="招標機關功能"> / 專案管理
            </span>
        </div>
        <div id="_ba">
            <span style="cursor:pointer;" onclick="location.href='@Url.Action("招標機關專案設定", "Home")'">專案設定</span>
        </div>
        <svg class="Rectangle_62">
            <rect id="Rectangle_62" rx="0" ry="0" x="0" y="0" width="5" height="55">
            </rect>
        </svg>
        <svg class="Rectangle_65">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_65" rx="35" ry="35" x="0" y="0" width="400"
                  height="75">
            </rect>
        </svg>

        <svg class="Rectangle_57">
            <rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" width="1366" height="128">
            </rect>
        </svg>
        <div id="_Copyright_2020">
            <span>數位標金平台團隊 Copyright ©2020</span>
        </div>
        <svg class="Line_1" viewBox="0 0 1086 1">
            <path id="Line_1" d="M 0 0 L 1086 0">
            </path>
        </svg>
        <div id="_bf">
            <span>
                <input type="button" style="font-size:36px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("招標機關功能", "Home")'" value="確認">
            </span>
        </div>
        <div id="___">
            <span>
                <input type="button" class="dropbtn" value="@Model.UserID" style="outline-style:none; text-align:left; font-size:28px; background-color:transparent; font-weight:bold;" />
                | <input type="button" style="font-size:28px; background-color:transparent; font-weight: bold;"
                         onclick="location.href='@Url.Action("UserLogout", "Home")'" value="登出">
            </span>
            <div class="dropdown-content">
                <a onclick="location.href='@Url.Action("投標廠商功能", "Home")'">投標廠商功能表</a>
                <a onclick="location.href='@Url.Action("招標機關功能", "Home")'">招標機關功能表</a>
            </div>
        </div>
        <div id="_bh">
            <span style="cursor:pointer;" onclick="location.href='@Url.Action("招標機關專案清單", "Home")'">專案清單</span>
        </div>
        <div id="_bi">
            <span>專案管理</span>
        </div>
        <div id="______">
            <span>專案管理 </span>
        </div>
        <div id="_bk">
            <span></span>
        </div>
        <div id="_bl">
            <span>案號</span>
        </div>
        <svg class="Rectangle_98">
            <rect id="Rectangle_98" rx="20" ry="20" x="0" y="0" width="140" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_103">
            <rect id="Rectangle_103" rx="20" ry="20" x="0" y="0" width="140" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_104">
            <rect id="Rectangle_104" rx="20" ry="20" x="0" y="0" width="140" height="75">
            </rect>
        </svg>
        <div id="_bp">
            <span>專案狀態</span>
        </div>
        <svg class="Rectangle_117">
            <rect id="Rectangle_117" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_118">
            <rect id="Rectangle_118" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_119">
            <rect id="Rectangle_119" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <div id="_bt">
            <span>數位憑證</span>
        </div>
        <svg class="Rectangle_120">
            <rect id="Rectangle_120" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_121">
            <rect id="Rectangle_121" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <svg class="Rectangle_122">
            <rect id="Rectangle_122" rx="20" ry="20" x="0" y="0" width="142" height="75">
            </rect>
        </svg>
        <div id="_bx">
            <span>金額</span>
        </div>
        <svg class="Rectangle_150">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_150" rx="2" ry="2" x="0" y="0" width="54"
                  height="53">
            </rect>
        </svg>
        <svg class="Rectangle_152">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_152" rx="2" ry="2" x="0" y="0" width="54"
                  height="53">
            </rect>
        </svg>
        <svg class="Rectangle_153">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_153" rx="2" ry="2" x="0" y="0" width="54"
                  height="53">
            </rect>
        </svg>
        <div id="_b">
            <span>
                <input type="button"
                       style="font-size: 40px;background-color:transparent;font-weight: bold;z-index:9999;position: relative;color: #11c6c6;"
                       onclick="location.href='@Url.Action("招標機關註記", "Home")'" value="+">
            </span>
        </div>
        <div id="_ca">
            <span>
                <input type="button"
                       style="font-size: 40px;background-color:transparent;font-weight: bold;z-index:9999;position: relative;color: #11c6c6;"
                       onclick="location.href='@Url.Action("招標機關註記", "Home")'" value="+">
            </span>
        </div>
        <div id="_cb">
            <span>
                <input type="button"
                       style="font-size: 40px;background-color:transparent;font-weight: bold;z-index:9999;position: relative;color: #11c6c6;"
                       onclick="location.href='@Url.Action("招標機關註記", "Home")'" value="+">
            </span>
        </div>
        <div id="_cc">
            <span>註記</span>
        </div>
        <svg class="Rectangle_155">
            <rect id="Rectangle_155" rx="2" ry="2" x="0" y="0" width="106" height="53">
            </rect>
        </svg>
        <div id="_cd">
            <span>
                <select style="font-size: 18px;" id="changeStatus1">
                    <option style="font-size: 18px;" value="">----</option>
                    <option style="font-size: 18px;" value="解除">解除</option>
                    <option style="font-size: 18px;" value="沒入">沒入</option>
                </select>
            </span>
        </div>
        <svg class="Rectangle_156">
            <rect id="Rectangle_156" rx="2" ry="2" x="0" y="0" width="106" height="53">
            </rect>
        </svg>
        <svg class="Rectangle_157">
            <rect id="Rectangle_157" rx="2" ry="2" x="0" y="0" width="106" height="53">
            </rect>
        </svg>
        <div id="_ce">
            <span>
                <select style="font-size: 18px;" id="changeStatus2">
                    <option style="font-size: 18px;" value="">----</option>
                    <option style="font-size: 18px;" value="解除">解除</option>
                    <option style="font-size: 18px;" value="沒入">沒入</option>
                </select>
            </span>
        </div>
        <div id="_cf">
            <span>
                <select style="font-size: 18px;" id="changeStatus3">
                    <option style="font-size: 18px;" value="">----</option>
                    <option style="font-size: 18px;" value="解除">解除</option>
                    <option style="font-size: 18px;" value="沒入">沒入</option>
                </select>
            </span>
        </div>
        <div id="__da">
            <span>
                <input id="case1" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__db">
            <span>
                <input id="case2" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__dc">
            <span>
                <input id="case3" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__dd">
            <span>
                <input id="rec1" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__de">
            <span>
                <input id="rec2" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__df">
            <span>
                <input id="rec3" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__dg">
            <span>
                <input id="amo1" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__dh">
            <span>
                <input id="amo2" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
        <div id="__di">
            <span>
                <input id="amo3" readonly type="text" style="font-size: 18px;" size="10" name="欄位名稱">
            </span>
        </div>
    </div>
</body>

</html>
